In [1]:
import numpy as np

import pandas as pd


import warnings

warnings.filterwarnings("ignore")

## Подготовка файлов для разметки

Датасет https://www.kaggle.com/datasets/jiashenliu/515k-hotel-reviews-data-in-europe

Этот набор данных содержит 515 000 отзывов клиентов и оценку 1493 отелей по всей Европе.

In [2]:
hotels = pd.read_csv('Hotel_Reviews.csv')
hotels

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

Выделим сэмпл

In [3]:
reviews_sample = hotels.sample(n = 35, replace = False, random_state=42)

In [4]:
reviews_sample.shape

(35, 17)

In [5]:
reviews_sample.head(3)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
488440,Via Senigallia 6 20161 Milan Italy,904,7/21/2017,8.1,Hotel Da Vinci,United Kingdom,Would have appreciated a shop in the hotel th...,52,16670,Hotel was great clean friendly staff free bre...,62,1,9.6,"[' Leisure trip ', ' Couple ', ' Double Room '...",13 days,45.533137,9.171102
274649,Arlandaweg 10 Westpoort 1043 EW Amsterdam Neth...,612,12/12/2016,8.6,Urban Lodge Hotel,Belgium,No tissue paper box was present at the room,10,5018,No Positive,0,7,8.8,"[' Leisure trip ', ' Group ', ' Triple Room ',...",234 day,52.385649,4.834443
374688,Mallorca 251 Eixample 08008 Barcelona Spain,46,11/26/2015,8.3,Alexandra Barcelona A DoubleTree by Hilton,Sweden,Pillows,3,351,Nice welcoming and service,5,15,7.9,"[' Business trip ', ' Solo traveler ', ' Twin ...",616 day,41.393192,2.161520

Создадим датасет из колонок Negative_Review и Positive_Review

In [6]:
sample_neg = reviews_sample[["Negative_Review"]]
sample_neg['is_good_review'] = 0
sample_neg = sample_neg.rename(columns = {"Negative_Review":"Review"})
sample_neg.head(5)

                                                   Review  is_good_review
488440   Would have appreciated a shop in the hotel th...               0
274649        No tissue paper box was present at the room               0
374688                                           Pillows                0
404352                                        No Negative               0
451596                                        No Negative               0

In [7]:
sample_pos = reviews_sample[["Positive_Review"]]
sample_pos['is_good_review'] = 1
sample_pos = sample_pos.rename(columns = {"Positive_Review":"Review"})
sample_pos.head(5)

                                                   Review  is_good_review
488440   Hotel was great clean friendly staff free bre...               1
274649                                        No Positive               1
374688                         Nice welcoming and service               1
404352   Everything including the nice upgrade The Hot...               1
451596                    Lovely hotel v welcoming staff                1

In [8]:
sample = pd.concat([sample_neg, sample_pos])
sample.head(5)

                                                   Review  is_good_review
488440   Would have appreciated a shop in the hotel th...               0
274649        No tissue paper box was present at the room               0
374688                                           Pillows                0
404352                                        No Negative               0
451596                                        No Negative               0

Очистим данные

In [9]:
sample = sample[~sample.Review.isin(['No Negative', 'No Positive'])]
sample.head(5)

                                                   Review  is_good_review
488440   Would have appreciated a shop in the hotel th...               0
274649        No tissue paper box was present at the room               0
374688                                           Pillows                0
302161                          They don t have free wifi               0
317079   Room generally a bit shabby with some lack of...               0

In [10]:
sample.shape

(60, 2)

Подготовим пересекающиеся сэмплы для двух людей (все 35 отзывов будут пересекаться).

In [11]:
sample1 = sample.sample(n = 35, replace = False, random_state=42)
sample2 = sample.sample(n = 35, replace = False, random_state=42)

Выгрузим их в эксель и отдадим в работу

In [13]:
sample1[['Review']].to_excel('sample1.xlsx')
sample2[['Review']].to_excel('sample2.xlsx')

## Передача файлов в работу

In [14]:
from IPython.display import Image

Над файлами работали два человека.

Над первым файлом - мужчина 28 лет, уровень английского языка - B2

In [17]:
Image(url="1_1.png", width=600, height=600)

In [18]:
Image(url="1_2.png", width=600, height=600)

Над вторым фалом работала женщина 26 лет, уровень английского языка - B1

In [19]:
Image(url="2_1.png", width=600, height=600)

In [20]:
Image(url="2_2.png", width=600, height=600)

Ни у одного, ни у второго человека вопросов не было, передали обработанные файлы в полном объеме.

## Просмотр размеченных файлов

In [31]:
sample1ready = pd.read_excel('sample1ready.xlsx')
sample2ready = pd.read_excel('sample2ready.xlsx')

In [32]:
sample1ready.head(6)

,Unnamed: 0,Review,Neg_words,Pos_words,is_good_review
0,488440,Would have appreciated a shop in the hotel th...,"no shop nearby,if you want to pay those prices",NaN,0.0
1,13963,Executive rooms 9th Floor don t have a bath T...,"don t have a bath,no wifi connection",NaN,0.0
2,456271,The location breakfast friendly staff nice rooms,NaN,ocation breakfast friendly staff nice rooms,1.0
3,487471,The Location and the view Close to the Duomo ...,NaN,"Location and the view Close to the Duomo, The ...",1.0
4,252030,Very noisy room close to an extrrnal electric...,"Very noisy,loud all the,cheap fixtures,very sm...",NaN,0.0
5,271298,Good breakfast,NaN,Good breakfast,1.0

In [33]:
sample2ready.head(5)

,Unnamed: 0,Review,Neg_words,Pos_words,is_good_review
0,488440,Would have appreciated a shop in the hotel th...,no shop nearby,recommend,0
1,13963,Executive rooms 9th Floor don t have a bath T...,"don t have a bath,no wifi","did have one,perfect wifi",0
2,456271,The location breakfast friendly staff nice rooms,NaN,"friendly,nice",1
3,487471,The Location and the view Close to the Duomo ...,NaN,"Close,desire to help",1
4,252030,Very noisy room close to an extrrnal electric...,"noisy,loud,poor,small",cheap,0

Сравним разметки

In [34]:
final = sample1ready.merge(sample2ready, how = 'inner', on = 'Review')
final

,Unnamed: 0_x,Review,Neg_words_x,Pos_words_x,is_good_review_x,Unnamed: 0_y,Neg_words_y,Pos_words_y,is_good_review_y
0,488440,Would have appreciated a shop in the hotel th...,"no shop nearby,if you want to pay those prices",NaN,0.0,488440,no shop nearby,recommend,0
1,13963,Executive rooms 9th Floor don t have a bath T...,"don t have a bath,no wifi connection",NaN,0.0,13963,"don t have a bath,no wifi","did have one,perfect wifi",0
2,456271,The location breakfast friendly staff nice rooms,NaN,ocation breakfast friendly staff nice rooms,1.0,456271,NaN,"friendly,nice",1
3,487471,The Location and the view Close to the Duomo ...,NaN,"Location and the view Close to the Duomo, The ...",1.0,487471,NaN,"Close,desire to help",1
4,252030,Very noisy room close to an extrrnal electric...,"Very noisy,loud all the,cheap fixtures,very sm...",NaN,0.0,252030,"noisy,loud,poor,small",cheap,0
5,271298,Good breakfast,NaN,Good breakfast,1.0,271298,NaN,Good,1
6,159785,Its centrality proximity to our destination,NaN,Its centrality proximity to our destination,1.0,159785,NaN,proximity to our destination,1
7,139350,Good location for Camden Lock and market woul...,NaN,Good location for Camden Lock and market,1.0,139350,NaN,Good location,1
8,26857,1 Bed was faulty seemed to dip in the middle ...,"very uncomfortable,VERY noisy room,faulty,Clea...",NaN,0.0,26857,"faulty,dip,uncomfortable,noisy,faulty,disturbi...",NaN,0
9,218440,My room was exceptional Quality breakfasts Ex...,NaN,"exceptional,breakfasts Excellent,attentive sta...",1.0,218440,NaN,"Quality,Excellent,attentive,attentive,enjoyed",1
10,297338,Location Culture bars and restaurants Transpo...,NaN,Location,1.0,297338,NaN,"Location,Culture bars,restaurants,Transport,Cl...",1
11,137832,The staff were always helpful and friendly an...,NaN,"staff were always helpful and friendly,hotel w...",1.0,137832,NaN,"helpful,friendly,good location,nice",1
12,317079,Location price It did not cost much more to h...,NaN,comfortable,1.0,317079,NaN,"did not cost much,comfortable",1
13,302161,They don t have free wifi,don t have free wifi,NaN,0.0,302161,don t have free wifi,NaN,0
14,44836,Very nice Hotel with a Filler pub inside very...,NaN,"Very nice,comfortable,wonderful Nespresso machine",1.0,44836,NaN,"Very nice,very clean,comfortable,wonderful",1
15,137832,The air conditioning failed on one night howe...,"air conditioning failed,it did feel a bit cramped",NaN,0.0,137832,"failed,small,cramped",NaN,0
16,159785,Pity about the two days of rain,Pity,NaN,0.0,159785,Pity,NaN,0
17,393417,I loved everything about the place The locati...,NaN,"loved everything,location was good,very friend...",1.0,393417,NaN,"loved,good,proudly,friendly,helpful",1
18,317079,Room generally a bit shabby with some lack of...,"bit shabby,Some crumbs",NaN,0.0,317079,"shabby,lack of maintenance,crumbs,","did not spoil,nice",1
19,252030,Location,NaN,Location,1.0,252030,NaN,Location,1
20,44836,The location was very close to the Tower of L...,far away,"The location was very close,calm and quiet",1.0,44836,far away from shops,"location,very close,calm,",1
21,195089,Didn t like anything about the stay if i had ...,Didn t like anything,NaN,0.0,195089,Didn t like anything,NaN,0
22,74628,Good location with great view over the river ...,NaN,"Good location with great view,stylish hotel,he...",1.0,74628,NaN,"Good,great view,Useful,stylish,polite,helpful,...",1
23,165488,Shower a little tired now The shower curtain ...,Shower a little tired,NaN,0.0,165488,tired,NaN,0
24,384147,The hotel is ideally placed in the centre of ...,NaN,"ideally placed,close to all the main tourist s...",1.0,384147,NaN,"ideally,perfect,helpful,excellent,in the city ...",1
25,297338,Nothing to dislike,NaN,Nothing to dislike,1.0,297338,NaN,Nothing to dislike,1
26,374688,Nice welcoming and service,NaN,Nice welcoming and service,1.0,374688,NaN,Nice,1
27,306957,Pool was very small and kind of chemical too ...,"Pool was very smal,too much chlorine",NaN,0.0,306957,"small,chemical,too much chlorine",NaN,0
28,302161,The location is perfect if you don t have a l...,NaN,location is perfect,1.0,302161,NaN,perfect,1
29,488440,Hotel was great clean friendly staff free bre...,NaN,"great,clean,friendly,free breakfast,good wifi,...",1.0,488440,NaN,"great,clean,friendly,good,good wifi,loved",1
30,155485,I wouldn t say it was a 5 star hotel but a ve...,NaN,very good 4 Star,1.0,155485,NaN,good,1
31,74628,Construction site next door meant it was a bi...,"Construction site next door, noisy in our room",NaN,0.0,74628,"noisy,Railway close,noise,unbearable",NaN,0
32,282731,The hotel was in a great spot near to everyth...,NaN,"near to everything,lovely,the staff very helpful",1.0,282731,NaN,"great,near to everything,lovely,helpful",1
33,484684,Breakfast was okay Typical European but did s...,NaN,okay,1.0,484684,NaN,"okay, good",1

Разметчик №1 выделял все фразы, характерные для оценки, в том время как разметчик №2 выделял слова.

Посмотрим, есть ли отзывы, которые попали в разные классы

In [35]:
final[final.is_good_review_x != final.is_good_review_y]

,Unnamed: 0_x,Review,Neg_words_x,Pos_words_x,is_good_review_x,Unnamed: 0_y,Neg_words_y,Pos_words_y,is_good_review_y
18,317079,Room generally a bit shabby with some lack of...,"bit shabby,Some crumbs",NaN,0.0,317079,"shabby,lack of maintenance,crumbs,","did not spoil,nice",1

In [40]:
final[final.is_good_review_x != final.is_good_review_y].Review[18]

' Room generally a bit shabby with some lack of maintenance Some crumbs on bedroom floor these issues did not spoil our minibreak It would be nice to have vegetarian sausages available for breakfast '

Данный отзыв разметчики распознали по-разному.

В 97% случаев результат классификации совпал

Сравним результаты с исходными из каггл

In [69]:
sample = final.merge(final_to_compare, how = 'inner', on = 'Review')
final_to_compare

,Unnamed: 0_x,Review,Neg_words_x,Pos_words_x,is_good_review_x,Unnamed: 0_y,Neg_words_y,Pos_words_y,is_good_review_y,is_good_review
0,488440,Would have appreciated a shop in the hotel th...,"no shop nearby,if you want to pay those prices",NaN,0.0,488440,no shop nearby,recommend,0,0
1,13963,Executive rooms 9th Floor don t have a bath T...,"don t have a bath,no wifi connection",NaN,0.0,13963,"don t have a bath,no wifi","did have one,perfect wifi",0,0
2,456271,The location breakfast friendly staff nice rooms,NaN,ocation breakfast friendly staff nice rooms,1.0,456271,NaN,"friendly,nice",1,1
3,487471,The Location and the view Close to the Duomo ...,NaN,"Location and the view Close to the Duomo, The ...",1.0,487471,NaN,"Close,desire to help",1,1
4,252030,Very noisy room close to an extrrnal electric...,"Very noisy,loud all the,cheap fixtures,very sm...",NaN,0.0,252030,"noisy,loud,poor,small",cheap,0,0
5,271298,Good breakfast,NaN,Good breakfast,1.0,271298,NaN,Good,1,1
6,159785,Its centrality proximity to our destination,NaN,Its centrality proximity to our destination,1.0,159785,NaN,proximity to our destination,1,1
7,139350,Good location for Camden Lock and market woul...,NaN,Good location for Camden Lock and market,1.0,139350,NaN,Good location,1,1
8,26857,1 Bed was faulty seemed to dip in the middle ...,"very uncomfortable,VERY noisy room,faulty,Clea...",NaN,0.0,26857,"faulty,dip,uncomfortable,noisy,faulty,disturbi...",NaN,0,0
9,218440,My room was exceptional Quality breakfasts Ex...,NaN,"exceptional,breakfasts Excellent,attentive sta...",1.0,218440,NaN,"Quality,Excellent,attentive,attentive,enjoyed",1,1
10,297338,Location Culture bars and restaurants Transpo...,NaN,Location,1.0,297338,NaN,"Location,Culture bars,restaurants,Transport,Cl...",1,1
11,137832,The staff were always helpful and friendly an...,NaN,"staff were always helpful and friendly,hotel w...",1.0,137832,NaN,"helpful,friendly,good location,nice",1,1
12,317079,Location price It did not cost much more to h...,NaN,comfortable,1.0,317079,NaN,"did not cost much,comfortable",1,1
13,302161,They don t have free wifi,don t have free wifi,NaN,0.0,302161,don t have free wifi,NaN,0,0
14,44836,Very nice Hotel with a Filler pub inside very...,NaN,"Very nice,comfortable,wonderful Nespresso machine",1.0,44836,NaN,"Very nice,very clean,comfortable,wonderful",1,1
15,137832,The air conditioning failed on one night howe...,"air conditioning failed,it did feel a bit cramped",NaN,0.0,137832,"failed,small,cramped",NaN,0,0
16,159785,Pity about the two days of rain,Pity,NaN,0.0,159785,Pity,NaN,0,0
17,393417,I loved everything about the place The locati...,NaN,"loved everything,location was good,very friend...",1.0,393417,NaN,"loved,good,proudly,friendly,helpful",1,1
18,317079,Room generally a bit shabby with some lack of...,"bit shabby,Some crumbs",NaN,0.0,317079,"shabby,lack of maintenance,crumbs,","did not spoil,nice",1,0
19,252030,Location,NaN,Location,1.0,252030,NaN,Location,1,1
20,44836,The location was very close to the Tower of L...,far away,"The location was very close,calm and quiet",1.0,44836,far away from shops,"location,very close,calm,",1,0
21,195089,Didn t like anything about the stay if i had ...,Didn t like anything,NaN,0.0,195089,Didn t like anything,NaN,0,1
22,74628,Good location with great view over the river ...,NaN,"Good location with great view,stylish hotel,he...",1.0,74628,NaN,"Good,great view,Useful,stylish,polite,helpful,...",1,1
23,165488,Shower a little tired now The shower curtain ...,Shower a little tired,NaN,0.0,165488,tired,NaN,0,0
24,384147,The hotel is ideally placed in the centre of ...,NaN,"ideally placed,close to all the main tourist s...",1.0,384147,NaN,"ideally,perfect,helpful,excellent,in the city ...",1,1
25,297338,Nothing to dislike,NaN,Nothing to dislike,1.0,297338,NaN,Nothing to dislike,1,0
26,374688,Nice welcoming and service,NaN,Nice welcoming and service,1.0,374688,NaN,Nice,1,1
27,306957,Pool was very small and kind of chemical too ...,"Pool was very smal,too much chlorine",NaN,0.0,306957,"small,chemical,too much chlorine",NaN,0,0
28,302161,The location is perfect if you don t have a l...,NaN,location is perfect,1.0,302161,NaN,perfect,1,1
29,488440,Hotel was great clean friendly staff free bre...,NaN,"great,clean,friendly,free breakfast,good wifi,...",1.0,488440,NaN,"great,clean,friendly,good,good wifi,loved",1,1
30,155485,I wouldn t say it was a 5 star hotel but a ve...,NaN,very good 4 Star,1.0,155485,NaN,good,1,0
31,74628,Construction site next door meant it was a bi...,"Construction site next door, noisy in our room",NaN,0.0,74628,"noisy,Railway close,noise,unbearable",NaN,0,0
32,282731,The hotel was in a great spot near to everyth...,NaN,"near to everything,lovely,the staff very helpful",1.0,282731,NaN,"great,near to everything,lovely,helpful",1,1
33,484684,Breakfast was okay Typical European but did s...,NaN,okay,1.0,484684,NaN,"okay, good",1,0

Посмотрим, где наши разметчики (хотя бы один) не попали с исходным датасетом

In [70]:
final_to_compare[(final_to_compare.is_good_review != final_to_compare.is_good_review_x) |
                 (final_to_compare.is_good_review != final_to_compare.is_good_review_y)]

,Unnamed: 0_x,Review,Neg_words_x,Pos_words_x,is_good_review_x,Unnamed: 0_y,Neg_words_y,Pos_words_y,is_good_review_y,is_good_review
18,317079,Room generally a bit shabby with some lack of...,"bit shabby,Some crumbs",NaN,0.0,317079,"shabby,lack of maintenance,crumbs,","did not spoil,nice",1,0
20,44836,The location was very close to the Tower of L...,far away,"The location was very close,calm and quiet",1.0,44836,far away from shops,"location,very close,calm,",1,0
21,195089,Didn t like anything about the stay if i had ...,Didn t like anything,NaN,0.0,195089,Didn t like anything,NaN,0,1
25,297338,Nothing to dislike,NaN,Nothing to dislike,1.0,297338,NaN,Nothing to dislike,1,0
30,155485,I wouldn t say it was a 5 star hotel but a ve...,NaN,very good 4 Star,1.0,155485,NaN,good,1,0
33,484684,Breakfast was okay Typical European but did s...,NaN,okay,1.0,484684,NaN,"okay, good",1,0

В первом случае ошибся второй разметчик, в остальных случаях ошиблись оба. Либо ошибка разметчиков, либо ошибка исходного датасета, либо при подготовке данных для разметчиков